
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero {
width:100vw;
height:100vh;
background:#05000d;
position:relative;
overflow: hidden;
}

.heroglass {

width:99vw;
height:99vh;
position:absolute;
top:0;
bottom:0;
right:0;
left:0;
margin:auto;
background: rgba(255, 255, 255, 0);
border-radius: 20px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.16);
overflow: hidden;
display: flex;
}

/*..............nav bar...............*/

.navbar {
justify-content: center;
position:fixed;
top: 2%;
left: 50%;
transform: translateX(-50%);
width:fit-content;
display:flex;
padding:15px 50px;


}

.nav-list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-list > li > a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 200;
}

.navbar:hover {
background: rgba(255, 255, 255, 0);
border-radius: 30px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(6.4px);
-webkit-backdrop-filter: blur(6.4px);
border: 1px solid rgba(255, 255, 255, 0.28);
transition: all 0.4s ease;
}

.nav-list > li > a {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 300;
}


.nav-list > li > a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    color: rgba(255, 255, 255, 0.5);
    width: 0%;
    height: 2px;
    background: white;
    transform: translateX(-50%);
    transition: width 0.5s ease;
}

.nav-list > li > a:hover{
      color: #ffffff;
          text-shadow:
              0 0 20px rgba(255,255,255,0.8),
              0 0 10px rgba(255,255,255,0.8),
              0 0 15px rgba(255,255,255,0.8),
              0 0 20px rgba(255,255,255,0.8);
}


.nav-list > li > a:hover::after{
    width: 100%;
}

/*...........colorbox..............*/



#colorbox1 {
height:150px;
width:150px;
background: linear-gradient(180deg, #6a0dad 20%, #2e0580 100%);
border-radius:50%;
position:absolute;
filter: blur(35px);
animation: animateBlob 5s linear infinite;
top: -3rem;
left: -3rem;
}

@keyframes animateBlob{
    0%{
    transform: rotate(0);
    }

    100%{
    transform: rotate(360deg);
    }
}




/*.............grid............*/
.grid-box {
    width: 60%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    pointer-events: none;


    background-image:
        linear-gradient(to right, rgba(138, 43, 226, 0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(138, 43, 226, 0.1) 1px, transparent 1px);
    background-size: 50px 50px;


    -webkit-mask-image: radial-gradient(circle at 70% 50%, black 30%, transparent 85%);
    mask-image: radial-gradient(circle at 70% 50%, black 30%, transparent 85%);
}

.grid-box::after {
    content: "";
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;

    background-image:
        linear-gradient(to right, rgba(138, 43, 226, 0.5) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(138, 43, 226, 0.5) 1px, transparent 1px);
    background-size: 50px 50px;

    -webkit-mask-image: linear-gradient(to bottom,
        transparent 0%,
        black 15%,
        black 25%,
        transparent 40%);
    mask-image: linear-gradient(to bottom,
        transparent 0%,
        black 15%,
        black 25%,
        transparent 40%);

    -webkit-mask-size: 100% 300%;
    mask-size: 100% 300%;

    animation: gridFlow 4s linear infinite;
}

@keyframes gridFlow {
    0% { mask-position: 0% -100%; }
    100% { mask-position: 0% 200%; }
}

.Container{
color:#ffffff;
}

.content > h1 {
line-height:1.5;
position:absolute;
top:150px;;
left:100px;
}

.dynamic-text{
font-size:3rem;
font-weight:700 !important;
position:absolute;
top:260px;
left:100px;
font-family: 'Josefin Sans', sans-serif;
}

.content > p {
    line-height:1.5;
    font-size:1rem;
    position:absolute;
    top:320px;
    left:100px;
}

.btn {
display:flex;
gap:20px;
position:absolute;
left:100px;
top:480px;
}

.home_image {
    position: absolute;
    bottom: 0;
    right: 100px;
    height: 90%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 10;
}


.home_image > .colorbox {
    width:100%;
    height: 100%;
    background: linear-gradient(180deg, #6a0dad 20%, #2e0580 100%);
    border-radius: 100%;
    position: absolute;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%, -50%);
    filter: blur(70px);
    animation: animateBlob 5s linear infinite;
    z-index: -1;
    display: block;
}


.home__perfil {
    height: 100%;
    width: auto;
    object-fit: contain;
    z-index: 2;
    position: relative;
}


@keyframes animateBlob {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
@media screen and (min-width: 1500px) {


.nav-list > li > a {
       text-decoration: none;
       font-size: 24px;
       color: white;
       font-weight: 200;
    }

.content > h1 {
line-height:1.5;
font-size:3rem;
position:absolute;
top:200px;
left:150px;
}

.dynamic-text {
  font-size:4.5rem;
  position:absolute;
  top:370px;
  left:150px;
  }


.content > p {
    font-size:1.5rem;
    line-height:1.5;
    position:absolute;
    top:470px;
    left:150px;
    }

.btn {
    display:flex;
    gap:30px;
    position:absolute;
    top:700px;
    left:150px;
    }

.home_image {
        width: auto;
        height: 80%;
        right: 100px;
        bottom: 0;
    }


    .home_image > .colorbox {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        filter: blur(150px);
    }


    .home__perfil {
        height: 100%;
        width:auto;
    }
}



